<html lang="en">
<head>
  <title>Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
      <a class="navbar-brand text-color-putih" href="#"><img src="images/logo-navbar.png" height="100" width="120" alt=""></a> 
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link" href="/admin">Reservasi </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/karyawan">Staff</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>    

<br> <br> <br> <br> <br>
<div class="container">
  <h2>Reservasi</h2>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Hour</th>
        <th>People</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Setting</th>
      </tr>
    </thead>
    <tbody>
        <% reservasi.forEach(function(reservasi){ %>
            <tr>
                <td><%= reservasi.id %></td>
                <td><%= reservasi.tang_res %></td>
                <td><%= reservasi.hour_res %></td>
                <td><%= reservasi.people_res %></td>
                <td><%= reservasi.name %></td>
                <td><%= reservasi.email %></td>
                <td><%= reservasi.phone %></td>
                <td>
                    <a href="delete/<%= reservasi.id %>" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        <% }); %>
    </tbody>
  </table>
</div>

</body>
</html>