<html>
  <%- include('header'); -%>
  <div class="jumbotron jumbotron-fluid height100p banner-reservasi banner-staff" style="background-image: url(https://mulaitech.com/finalproject/images/jumbotron-staff.jpg);" id="home">
    <div class="container h100">
      <div class="contentBox h100">
        <div>
          <h3 class="text-color-white"><strong>THE REAL EXPERT</strong></h3>
        </div>
      </div>
    </div>
  </div>

    <div class="container">
      <div class="row">
        <div class="offset-sm-2 col-sm-8">
          <div class="headerText text-center">
            <h2>Our Staff</h2>
             <p>
                <strong>The man behind a curtain</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
    <% staff.forEach(function(staff){ %>
      <div class="container emp-profile border-form">
        <div class="row">
          <div class="col-md-4">
            <div class="profile-img">
              <img class="img-fluid profile-img" src="images/<%= staff.photo %>" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="profile-head">
              <h1>
                <%= staff.nama %>
                
              </h1>
              <h4>
                <%= staff.jobdesk %>
               
              </h4>
            </div>
          </div>
          <div class="col-md-2">
            <input type="button" onclick="window.location.href='/admin';" class="button-lanjut" name="btnAddMore" value="Admin"/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="profile-work">
              <p>Social Media</p>
              <a href="https://www.instagram.com/<%= staff.instagram %>">Instagram</a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                  <label>Nim</label>
              </div>
              <div class="col-md-6">
                  <p><%= staff.nim %></p>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <label>Nama</label>
              </div>
              <div class="col-md-6">
                  <p><%= staff.nama %></p>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <label>Jobdesk</label>
              </div>
              <div class="col-md-6">
                  <p><%= staff.jobdesk %></p>
              </div>
          </div>
          </div>
        </div>
      </div>
    <% }); %>
  
    <%- include('footer'); -%>
</html>